@import 'compass';
@import 'components/ceaser-easing'; /* http://easings.net */
//@import 'components/tablesaw.stackonly'; /* https://github.com/filamentgroup/tablesaw */

@import 'components/normalize'; /* https://github.com/necolas/normalize.css/ */
@import 'components/retina-sprite/retina-sprites'; /* https://github.com/Gaya/Retina-Sprites-for-Compass */
@import 'components/var';
@import 'components/helper';
@import 'components/grid';

/*$general-layout:smart;
@import "general/*.png";*/

@import 'components/ui-effects';
@import 'components/print';
@import 'components/layout';
@import 'components/header';
@import 'components/footer';


/* ==========================================================================
   SLIDESHOW CONTENT
   ========================================================================== */

.slideshow{
    position: relative;
    overflow: hidden; // remove scroll bar while loading bxslider
    @include respond-to(mobile) { height: 280px; }
    @include respond-to(tablet) { height: 500px; }
    @include respond-to(desktop) { height: 700px; }
    width: 100%;
    color: $colorw;
    background-color: #000;

    .slide{ 
        position:relative;
        height: 100%; 
        text-align: center;
    }

    .slide-img{
        position: absolute;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: none;
        @include background-size(cover);
        
        .lt-ie9 &{ background-size: 100%; }
    }

    .shadow{
        @include text-shadow(#000 1px 1px 4px, #000 2px 2px 4px, #000 3px 3px 4px);
        .slide-img{ @include opacity(0.6); }
    }
}


/* ==========================================================================
   SLIDESHOW PLUGIN
   ========================================================================== */

.bx-wrapper{
    position: relative;
}

.bx-controls{
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 20px;
    left: 0;
    overflow: visible;

    .bx-pager{
        position: relative;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .bx-pager-item{
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;

        & + .bx-pager-item{
            margin-left: 5px;
        }


    }

    a.bx-pager-link{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        @extend .hide-text;

        border: 1px solid white;
        @include border-radius(10px);
        @extend %transition-bg;
        
        
        &:hover{ 
            background-color: white;
            background-color: rgba(white, 0.5); 
        }
        &.active{ background-color: white; }
    }
}


/* ==========================================================================
   CONTENT
   ========================================================================== */

.main{
    position: relative;
    @include box-shadow(rgba(0,0,0,0.8) 0 6px 5px -3px);
    z-index: 30;

    //div:last-child{ padding-bottom: 30px; }

    .grid-parent{ clear: both; }

    > div:first-child{ 
        margin-top: 0;
        &:before{ display: none; }
    }
}

.slice{
    position: relative;
    padding: 50px 0 100px 0;
    &:before{
        top: -50px;
        @include respond-to(mobile) {
            top: -36px;
        }
    }
}

@mixin slice($bg-color, $color, $img, $img-min){
    background-color: $bg-color;
    color: $color;
    &:before{
        @include respond-to(tablet-desktop) { 
            @include image($img); 
            @include init-content(absolute, 100%);
            background-repeat: repeat-x;
        }
        @include respond-to(mobile) { 
            @include image($img-min);
            @include init-content(absolute, 100%);
            background-repeat: repeat-x;
        }
    }
}

.slice-w{
    @include slice($colorw, $colorb, 'frise-w.png', 'frise-w-min.png');

    h1, h2{ color: $colorb; }
}

.slice-g{
    @include slice($color1, white, 'frise-g.png', 'frise-g-min.png');

    h1, h2, a{ color: white; }

    h1:after{
        background-color: white;
    }
}

