@import 'compass';
@import 'components/ceaser-easing'; /* http://easings.net */
@import 'components/tablesaw.stackonly'; /* https://github.com/filamentgroup/tablesaw */
@import 'components/normalize'; /* https://github.com/necolas/normalize.css/ */
@import 'components/retina-sprite/retina-sprites'; /* https://github.com/Gaya/Retina-Sprites-for-Compass */
@import 'components/var';
@import 'components/helper';
@import 'components/grid';

/*$general-layout:smart;
@import "general/*.png";*/

@import 'components/ui-effects';
@import 'components/print';
@import 'components/layout';
@import 'components/header';
@import 'components/footer';
@import 'components/owl.carousel'; /* https://github.com/smashingboxes/OwlCarousel2 */
@import 'components/slideshow';


/* ==========================================================================
   CONTENT
   ========================================================================== */

.main{
    position: relative;
    @include box-shadow(rgba(0,0,0,0.8) 0 6px 5px -3px);
    z-index: 30;

    .grid-parent{ clear: both; }

    > div:first-child{ 
        margin-top: 0;
        &:before{ display: none; }
    }
}

.slice{
    position: relative;
    padding: 50px 0 140px 0;
    &:after{
        top: -56px;
        @include respond-to(mobile) {
            top: -41px;
        }
    }

    a.button-big{
        color:$colorb-text;
    }
}

@mixin slice($bg-color, $color, $img, $img-2x, $img-min, $img-min-2x){
    background-color: $bg-color;
    color: $color;
    &:after{
        @include respond-to(tablet-desktop) { 
            @include image($img, $img-2x); 
            @include init-content(absolute, 100%);
            background-repeat: repeat-x;
            background-position: center;
        }
        @include respond-to(mobile) { 
            @include image($img-min, $img-min-2x);
            @include init-content(absolute, 100%);
            background-repeat: repeat-x;
            background-position: center;
        }
    }
}

.slice-w{
    @include slice($colorw, $colorb-text, 'frise-w.png', 'frise-w_2x.png', 'frise-w-min.png', 'frise-w-min_2x.png');

    a{ color: $colorb-text; }
}

.slice-y{
    @include slice($color1, $colorb-text, 'frise-y.png', 'frise-y_2x.png', 'frise-y-min.png', 'frise-y-min_2x.png');

    a{ color: $colorb-text; }
}

.slice-b{
    @include slice($color4, $colorw, 'frise-b.png', 'frise-b_2x.png', 'frise-b-min.png', 'frise-b-min_2x.png');

    h1, h2, li:before{ color: $colorw; }
    h1:after{ background-color: white; }
    table li:before{ color: $colorb-text; }

    @include table-slice-colored($color4, black);
}
