/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

$font-regular: 'Open Sans', Verdana, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
$font-large:   'Kaushan Script', Verdana, "KaiTi", "楷体", STKaiti, "华文楷体", cursive, serif;

.font-regular{ font-family: $font-regular; font-weight: 300; }
.font-bold{    font-family: $font-regular; font-weight: 800; }
.font-title{   font-family: $font-large; font-weight: 400; @extend %font-title-fix; }

%font-title-fix{
    .vi &{
        font-family: $font-regular;
        font-weight: 800;
    }
}

/* ==========================================================================
   COLORS THEME
   ========================================================================== */

$colorw: #ecf0f1; // WHITE
$colorb: #666;    // BLACK
$color1: #6baa45; // green
$color2: #6a6a6a; // fallback rgba black,0.4
$color3: darken(white, 10%); // grey

$color-success: #0b68e7; // alert success
$color-error  : #ea0000; // alert error
